.caixa-login {
  width: 350px;
  margin: auto;
  border: 2px solid var(--cor-primaria);
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo-login {
  text-align: center;
  color: var(--cor-primaria);
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.grupo {
  margin-top: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input,
#btn-entrar {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--cor-primaria);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 8px;
}

#btn-entrar {
  background-color: var(--cor-primaria);
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-entrar:hover {
  background-color: #5324c2;
}

.esqueci-minha-senha a {
  text-decoration: none;
  color: var(--cor-primaria);
  font-size: 14px;
  font-weight: bold;
}

.esqueci-minha-senha {
  text-align: right;
  margin-top: 10px;
}

#loading {
  display: none;
}
